<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title th:text="${text}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1 th:text="${menu}"/>

<form action="/register" method="post">
    <h2> Введите логин и пароль пользователя</h2>
    <input type="text" name="login" placeholder="Login">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Log in">
</form>

</body>
</html>