<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf" xmlns:th.each="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1> Введите свои дополнительные данные</h1>
<h2 th:text="${log}"/>
<!--name
sername
patron
inn
phone
berthData-->
<form th:action="@{/patUserinfo}" th:object="${PatUserInfo}" th:method="POST">
    <input type="text" th:field="*{username}" placeholder="Имя пользователя" id="username">
    <br>
    <input type="text" th:field="*{serName}" placeholder="Фамилия пользователя" id="serName">
    <br>
    <input type="text" th:field="*{patronName}" placeholder="Отчество пользователя" id="patronName">
    <br>
    <input type="text" th:field="*{INN}" placeholder="ИНН пользователя" id="INN">
    <br>
    <input type="text" th:field="*{telephone}" placeholder="Номер телефона пользователя" id="telephone">
    <br>
<!--    <input type="date" th:field="*{dateOfBirth}" placeholder="Дата рождения" id="dateOfBirth">-->
    <br>
    <input type="text" th:field="*{rhFactor}" placeholder="Резус фактор" id="rhFactor">
    <br>
    <input type="submit" name="submit">
</form>

</body>
</html>