<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf" xmlns:th.each="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1> Введите свои дополнительные данные</h1>
<h2 th:text="${log}"/>
<!--name
sername
patron
inn
phone
berthData-->
<form action="/patUserinfo" th:object="${PatUserInfo}" method="post">
    <input type="text" th:field="*{username}" placeholder="Имя пользователя">
    <input type="text" th:field="*{serName}" placeholder="Фамилия пользователя">
    <input type="text" th:field="*{patronName}" placeholder="Отчество пользователя">
    <input type="text" th:field="*{INN}" placeholder="ИНН пользователя">
    <input type="text" th:field="*{telephone}" placeholder="Номер телефона пользователя">
    <input type="datetime-local" th:field="*{dateOfBirth}" placeholder="Дата рождения">
    <input type="text" th:field="*{rhFactor}" placeholder="Резус фактор">
    <input type="submit" name="sabmit">


</form>

</body>
</html>